# Virtual environment
/venv/

# Compiled Python files
__pycache__/
*.pyc
*.pyo

# PyInstaller build files
build/
*.spec
assets/
version.json

# Database configuration (contains sensitive credentials)
database/db_config.py

# Logs and temporary files
*.log
*.tmp

# CSV or other temporary data files
*.csv

# IDE-specific files
.vscode/
.idea/

# Driver installer
/drivers/msodbcsql.msi

# gitignore file for the project
.gitignore
